/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.editor-wrapper {
  padding: 1rem;
}


.menu-editor {
  display: inline-block;
    visibility: visible;
    -webkit-transition: top 75ms ease-out,left 75ms ease-out;
    transition: top 75ms ease-out,left 75ms ease-out;
    -webkit-animation: pop-upwards 180ms forwards linear;
    animation: pop-upwards 180ms forwards linear;
    position: absolute;
    /* visibility: hidden; */
    /* display: none; */
    z-index: 500;
    -webkit-transition: none;
    transition: none;
    top: 0;
    left: 0;
}

.menu-inner {
  position: relative;
    background-image: linear-gradient(to bottom,rgba(49,49,47,.99),#262625);
    background-repeat: repeat-x;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 0 10px;
}

.menu-button {
  margin: 0 8px;
  height: 44px;
  line-height: 46px;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  color: #fff;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  
}

.public-DraftEditorPlaceholder-root {
  color: #9197a3;
  position: absolute;
  z-index: 0;
}