/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.editor-wrapper {
  padding: 1rem;
}

.menu-inline-wrapper {
  display: inline-block;
  visibility: visible;
  /* -webkit-transition: top 75ms ease-out,left 75ms ease-out; */
  transition: top 75ms ease-out,left 75ms ease-out;
  /* -webkit-animation: pop-upwards 180ms forwards linear; */
  animation: pop-upwards 180ms forwards linear;
}


.menu-inline-inner {
  position: relative;
  background-image: linear-gradient(to bottom,rgba(49,49,47,.99),#262625);
  background-repeat: repeat-x;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0 10px;
}

.menu-inline-btn {
  /* margin: 0 8px; */
  height: 44px;
  line-height: 46px;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  color: #fff;
  box-sizing: content-box;
  padding: 0 .5rem;
  text-align: left;
  white-space: normal;
  transition: .1s background-color,.1s border-color,.1s color,.1s fill;
  position: relative;
  background: rgba(0,0,0,0);
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  outline: transparent;
}

.menu-inline-btn:hover {
  background-color: rgba(78, 78, 75, 0.99);
}


/* .menu-editor {
  display: inline-block;
    visibility: visible;
    -webkit-transition: top 75ms ease-out,left 75ms ease-out;
    transition: top 75ms ease-out,left 75ms ease-out;
    -webkit-animation: pop-upwards 180ms forwards linear;
    animation: pop-upwards 180ms forwards linear;
    position: absolute;
    /* visibility: hidden; */
    /* display: none; */
    /* z-index: 500;
    -webkit-transition: none;
    transition: none;
    top: 0;
    left: 0;
} */

/* .menu-inner {
  position: relative;
    background-image: linear-gradient(to bottom,rgba(49,49,47,.99),#262625);
    background-repeat: repeat-x;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 0 10px;
}

.menu-button {
  margin: 0 8px;
  height: 44px;
  line-height: 46px;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  color: #fff;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  
}  */

.public-DraftEditorPlaceholder-root {
  color: #9197a3;
  position: absolute;
  z-index: 0;
}